@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

#logo{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.logo-container{
    width: 100%;
    height: auto;
    position: relative;
}

.sidebar{
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    padding: 10px;
    top: 0px;
    left: -100%;
    border-right: 1px solid #f4f4f4;
    transition: all .5s ease;
    z-index: 999;
    background-color: #f4f4f4;
}

.sidebar.move{
    left: 0;
}

/* accordion */
.accordion-button:not(.collapsed){
    background-color: #f4f4f4 !important;
    box-shadow: none !important;
}
/* .accordion{

} */
.accordion-body{
    background-color: #f4f4f4 !important;
}

button:focus:not(:focus-visible){
    outline: none !important;
}

.accordion-button{
   border: none solid #f4f4f4 !important;
   background-color: #f4f4f4 !important;
   outline: none !important;
}
.accordion-button.collapse{
    background-color: none !important;
    outline: none !important;
}



.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar a{
    line-height: 40px;
    height: 40px;
    width: 100% !important;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: all .3s ease;
    border-bottom: 0.5px solid #f4f4f4;
}

.navbar i{
    cursor: pointer;
}

.sidebar a:hover{
    background-color: #E1AD01;
    color: #fff !important;
}
